/* Header */
.header{
    height: 160px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-image: linear-gradient(#ee4d2d,#ff7337);
}

/* Header navbar */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 8px 0px 0px;
    color: var(--black-color);
    font-size: 12px;
}

.nav-list__item{
    padding: 0px 8px;
    position: relative;
}

.nav-list__item:hover, .nav-item__link:hover{
    cursor: pointer;
    color: rgba(255, 253, 253, 0.7) ;
}


.nav-list__item:hover > .nav-item__sub-item{
    display: block;
}

.nav-item__sub-item{
    border-radius: 2px;
}

.icon--size-s{
    padding: 4px;
    font-size: 1.4rem;
}

.icon--size-l{
    padding: 8px;
    font-size: 1.6rem;
}

.nav__break{
    margin: 0 2px !important;
}

.nav-list__item--no-select{
    cursor: default !important;
    color: rgba(255, 253, 253, 1) !important;
}

.nav-item__qr-code{
    width: 185px;
    padding: 8px;
    position: absolute;
    
    top: 150%;
    float: left;
    background-color: var(--white-color);
    display: none;
}

.nav-item__sub-item::before{
    content: "";
    position: absolute !important;
    top: -16px;
    left: 0;
    width: 100%;
    height: 16px;
    display: block;
}

.nav-qr__image{
    width: 100%;
}

.nav-qr__apps{
    display: flex;
    justify-content: space-between;
}

.nav-apps__image img{
   height: 24px;
}

.nav-item__notify{
    position: absolute;
    top: 150%;
    right: 0;
    display: none;
    width: 400px;
    border: solid #999 1px;
    background-color: var(--white-color);
    transform-origin: 90% top;
    animation: FadeIn ease 0.2s;
    cursor: default;
    z-index: 9999;
}

.nav-notify__header::before{
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.nav-notify__header h3{
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 8px;
}

.nav-notify__item{
    display: flex;
    flex-direction: row;
    padding: 4px;
    background-color: rgb(238, 77, 45, 0.1);
    cursor: pointer;
}

.nav-notify__item.nav-notify__item--viewed{
    background-color: #fdfdfd ;
}

.nav-notify__item:hover{
    background-color: #f0efef;
}

.nav-notify__image{
    width: 64px;
    padding: 8px;
}

.nav-notify__body{
    flex: 1;
}

.nav-notify__body p{
    margin: 4px 16px;
}

.nav-notify__image img{
    width: 100%;
    margin: 0 auto;
}

.notify-body__heading{
    color: var(--black-color);
    font-size: 1.6rem;
    line-height: 2rem;
}

.notify-body__content{
    color: #888;
    font-size: 1.4rem;
}

.nav-notify__footer{
    color: #999;
    font-size: 1.5rem;
    text-align: center;
    padding: 8px 0;
}

.nav-footer__link{
    color: var(--text-color);
    display: block;
    width: 100%;
    padding: 6px;
    font-weight: 500;
}
.arrow{
    border-width: 20px 30px;
    border-style: solid;
    width: 0;
    height: 0;
    position: absolute;
    right: 12px;
    top: -28px;
}

.arrow.arrow.up{
    border-color: transparent transparent var(--white-color) transparent;
}


/* End header navbar */

/* End header*/

@keyframes FadeIn {
    from{
        opacity: 0;    
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


/* Modal form */
.modal-form__container{
    background-color: var(--white-color);
  
    border-radius: 5px !important;
}

.modal__auth-form{
    padding: 32px;
    width: 480px;
    position: relative;
    box-sizing: border-box;
  
}

.modal-auth-form__header{
    display: flex;
    justify-content: space-between;
    margin: 8px 0px 32px;
}

.modal-header__heading{
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.btn.btn--no-background{
    background-color: transparent !important;
    border: none;
    font-weight: 500;
}

.text--primary{
    color: var(--theme-color) !important;
}

.text--normal{
    color: var(--text-color) !important;
}

.text--grey{
    color: var(--grey-color) !important;
}

.modal-auth-form__group{
    margin-top: 16px;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding: 6px 4px;
}

.modal-auth-form__aside{
    margin: 16px auto;
}

.modal-aside__policy{
    max-width: 100%;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    margin: auto;
}

.modal-policy__link{
    color: var(--theme-color);
}

.modal-auth-form__action{
    display: flex;
    margin-top: 120px;
    justify-content: flex-end;
}

.modal-auth-form__social{
    background-color: #f2efef;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.modal-auth-form__help{
    display: flex;
    justify-content: flex-end;
    margin: 32px auto;
}


.facebook__btn{
    background-color: #1877f2;
    color: var(--white-color) !important;
}

.google__btn{
    background-color: var(--white-color);
    color: var(--grey-color) !important;
}

.btn + .btn{
    margin-left: 8px;
}

/* End modal form */


/* Search */
.search{
    height: var(--search-width);
    display: flex;
    align-items: center;
    padding-bottom: 32px;
}

.search__search-field{
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    border-radius: 2px;

    position: relative;
}

.search__icon{
    width: 200px;
}

.search-icon__image{
    display: block;
    width: 150px;
}

.search__cart{
    color: var(--white-color);
    width: 150px;
    font-size: 30px;
    position: relative;

    display: flex;
    justify-content: center;
}


.search-cart__image:hover{
    cursor: pointer;
}

.search-cart__wrap{
    display: inline-block;
    padding: 4px 8px;
}

.search-cart__wrap:hover  .search-cart__list{
    display: block;
}



.search-field__action{
    width: 100%;
    height: 100%;
    flex: 1;
}

.search-field__input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0 16px;
    font-size: 1.4rem;
}

.search-field__btn:hover {
    opacity: 0.8;
    cursor: pointer;
}


.search-field__btn{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    font-size: 16px;
    color: var(--white-color);
    background-image: linear-gradient(#ee4d2d,#ff7337);

    margin: 3px;
    border-radius: 2px; 
}

.search-field__history{
    position: absolute;
    width: 90%;
    left: 0;
    top: 110%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #ccc;

    display: none;
}



.history__heading{
    font-size: 1.3rem;
    color: #888;
    font-weight: 400;
    padding: 16px 8px 16px;
    margin: 0;
}

.history__item{
    display: block;
   
    width: 100%;
}

.history-item__link:hover{
    background-color: #f1f1f1;
}

.history-item__link{
    display: block;
    font-size: 1.3rem;
    color: var(--black-color);
    font-weight: 400;  
    width: 100%;
    padding: 12px 8px;
}

.search-cart__list{
    position: absolute;
    width: 400px;
    background-color: var(--white-color);
    right: 35%;
    top: calc(100% + 16px);
   
    box-shadow: 1px 1px 1px 1px #ccc;
    transform-origin: 90% top;
    animation: FadeIn ease 0.2s;

    display: none;
}

.search-cart__list.search-cart__list--empty .cart-empty__footer,
.search-cart__list.search-cart__list--empty .cart-empty__image{
    display: block;
}

.search-cart__list.search-cart__list--empty{
    text-align: center;
}

.search-cart__list::before{
    content: "";
    display: block;
    height: 16px;
    background-color: transparent;
    position: relative;
    top: -10px;
}

.cart-empty__image{
    width: 50%;
    display: none;
    margin: 0 auto;
}

.cart-empty__footer{
    font-size: 16px;
    color: var(--black-color);
    font-family: 'Roboto', sans-serif;;
    font-weight: 400;
    display: none;
}

#cart__arrow{
   border-width: 20px;
   right: 0px;
}

.search-field__input:focus ~ .search-field__history{
    display: block;
}

.search-cart__notice{
    padding: 0 8px;
    background-color: var(--white-color);
    color: var(--theme-color);
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 9px;
    border: 2px solid #fa5030;
    position: absolute;
    right: 44px;
    top: -8px;
}

.cart__heading{
    color: var(--grey-color);
    font-size: 1.6rem;
    margin: 0;
    padding: 0 16px;
}


.cart__item{
    display: flex;
    align-items: center;
    padding: 8px;
    margin-top: 8px;
 }

 .cart__item:hover{
    background-color: #eae9e9;
    cursor: pointer;
 }


.cart-item__info{
    flex: 1;
 }

 .cart-item__image .item__image{
    width: 52px;
    margin-top: 4px;
 }

 .item-info__line{
    display: flex;
    justify-content: space-between;
 }

 .item-info__line p{
    line-height: 1.6rem !important;
    margin: 6px;
    max-width: 100%;
 }

 .item-info__name{
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 500;
    max-width: 200px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }

 .item-info__price{
    color: var(--theme-color);
    font-size: 1.6rem;
 }

 .item-info__amount{
    font-size: 1.3rem;
    color: var(--grey-color);
 }

 .item-info__type{
    font-size: 1.4rem;
    color: var(--grey-color);
 }

 .item-info__delete-btn{
    color: #242424;
    margin: 0 6px;
 }

 .cart__btn{
    float: right;
    margin: 8px;
 }
/* End cart */

/* End search */

/* User info */
.nav__list{
    display: inline-flex;
    align-items: center;
}

.nav__user{
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-right: 0;
}

.nav-user__avt{
    width: 20px;
    border-radius: 50%;
}

.nav-user__name{
    margin-left: 4px;
}

.nav-user__info{
    display: none;
    position: absolute;
    width: 140px;
    background-color: var(--white-color);
    right: 0;
    top: 130%;
    z-index: 1;
}

.user-info-list__item{
    padding: 16px;
    color: var(--black-color);
    display: block;
    font-size: 1.4rem;
}

.user-info-list__item:hover{
    background-color: #fafafa;
    color: rgb(71, 225, 174);
}


#user__arrow{
    right: 12px;
    z-index: -999;
}
/* End user info */


